{% extends 'layout.html.twig' %}

{% block head %}
<style>
#login-form {
  height: 80%;
}
</style>
{% endblock %}

{% block main %}
<form id="login-form" name="login-form" method="post" action="/login">
  <div class="row flex-row flex-center">
    <div class="col s12 m4 offset-m4">
      <div class="row">
        <div class="col s12">
          <h3 class="header">Login</h3>
          <div class="input-field">
            <input type="text" class="validate" id="email" />
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input type="password" class="validate" id="password" />
            <label for="password">Password</label>
          </div>
        </div>
        <button type="submit" class="btn btn-waves btn-light btn-right">Login 
          <i class="material-icons">send</i>
        </button>
    </div>
  </div>
</form>
{% endblock %}
