{% extends 'layout.html.twig' %}

{% block head %}
  <link href="{{ asset('home.css', 'css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
  <div class="above-fold-wrapper" style="background-image:url({{ asset('bg.jpg','img')}})">
      <div class="row flex-row flex-center">
        <div class="col s12 m6 l4 offset-l2">
            <a class="call-to-action waves-effect waves-light btn" href="#">Help me make it... BRUH</a>
        </div>
        <div class="col s12 m6 l4">
            <a class="call-to-action waves-effect waves-light btn" href="#">I can do it...</a>
        </div>

      </div>
  </div>
{% endblock %}
